@page
@model DECO_Pets.Areas.Admin.Pages.PremiosAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Premios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Premios.ID" />
            <div class="form-group">
                <label asp-for="Premios.DadosID" class="control-label"></label>
                <select asp-for="Premios.DadosID" class="form-control" asp-items="ViewBag.DadosID">
                    <option value="">Selecionar Dados</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Premios.SeguradoraID" class="control-label"></label>
                <select asp-for="Premios.SeguradoraID" class="form-control" asp-items="ViewBag.SeguradoraID">
                    <option value="">Selecionar Seguradora</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Premios.Premio" class="control-label"></label>
                <input asp-for="Premios.Premio" class="form-control" />
                <span asp-validation-for="Premios.Premio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
