/* Estilos para a div content_wrapper */
.content_wrapper {
    display: flex;
    margin: 20px 0;
}

/* Estilos para a coluna de imagem */
.image_wrapper {
    flex: 1;
}

    .image_wrapper img {
        max-width: 100%;
        height: auto;
    }

/* Estilos para a coluna de informações */
.content_wrapper .col-md-8 {
    flex: 2;
    padding-right: 70px;
    text-align: center;

}

.content_title {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

/* Estilos para a coluna de prêmio */
.price_wrapper {
    flex: 1;
    text-align: right;
}

.price_desc {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #FF9800; /* Cor laranja, substitua pela cor desejada */
}

/* Estilos para a div detalhes_wrapper */
.detalhes_wrapper {
    margin-top: 20px;
    padding: 20px;
    background-color: #F5F5F5; /* Cor de fundo, substitua pela cor desejada */
    border-radius: 8px;
}

/* Estilos para os detalhes das coberturas */
.detalhe_linha {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; /* Cor do texto, substitua pela cor desejada */
}

.detalhes_wrapper .d-flex {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #DDD; /* Cor da borda, substitua pela cor desejada */
}

    .detalhes_wrapper .d-flex:last-child {
        border-bottom: none;
    }

    .detalhes_wrapper .d-flex > div {
        flex: 1;
    }

    .detalhes_wrapper .d-flex .flex-column {
        flex: 2;
    }

.detalhes_wrapper span {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #666; /* Cor do texto, substitua pela cor desejada */
}
